<header class="text-dark text-center py-4">
    <p>Tu mejor opción para la electromovilidad</p>
  </header>
  
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/">EcoDrive</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse te" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="<%= nosotros_index_path %>" aria-current="page"> Sobre nosotros <span
                class="visually"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="<%= terminos_condiciones_index_path %>" aria-current="page">Terminos y Condiciones <span
                class="visually-hidden"></span></a>
          </li>
          <% if user_signed_in? %>  
            <li class="nav-item">
              <a class="nav-link" href="<%= autos_path %>"> Autos </a>
            </li>
            <%end%>
            <% if user_signed_in? %> 
            <li class="nav-item">
              <a class="nav-link" href="<%= autos_path %>"> nuevo Autos </a>
            </li>
            <%end%>
  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <% if user_signed_in? %>
                    <%= current_user.email%>
                      <%else%>
                        Opciones
                        <%end%>
                </a>
                <ul class="dropdown-menu">
                  <% if user_signed_in? %>
                    <li>
                      <%= button_to 'Cerrar sesión' , destroy_user_session_path, class: 'dropdown-item' , method: :delete
                        %>
                    </li>
                    <%else%>
                      <li>
                        <%= link_to 'Iniciar sesión' , new_user_session_path, class: 'dropdown-item' %>
                      </li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li>
                        <%= link_to 'Registro' , new_user_registration_path, class: 'dropdown-item' %>
                      </li>
                      <%end%>
                </ul>
              </li>
        </ul>
      </div>
    </div>
  </nav>
  <%= form_with url: autos_path, method: :get do |form| %>
    <!-- Cuadro de búsqueda-->
    <div class="card mb-2">
      <div class="card-body">
        <div class="input-group">
          <%= form.text_field :buscar, class: "form-control", placeholder: "Buscar ", value: @consulta %>
          <%= form.submit 'Buscar', class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
    <%end%>

<% if notice.present? %>
  <p class="notice alert alert-warning" role="alert">
    <%= notice %>
  </p>
<% end %>