<div id="<%= dom_id auto %>">
  <p>
    <strong>Modelo de auto:</strong>
    <%= auto.modelo_de_auto %>
  </p>

  <p>
    <strong>Rango:</strong>
    <%= auto.Rango %>
  </p>

  <p>
    <strong>Precio por dia:</strong>
    <%= auto.Precio_por_dia %>
  </p>

  <p>
    <strong>Año fabricacion:</strong>
    <%= auto.Año_fabricacion %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= auto.marca_id %>
  </p>

  <p>
    <strong>Carracteristica:</strong>
    <%= auto.carracteristica_id %>
  </p>

</div>
