<div id="<%= dom_id auto %>">
<td scope="row">
<%= auto.modelo_de_auto %>
</td>
<td>
<%= auto.marca_id %>
</td>
<td>
<%= auto.carracteristica_id %>
</td>
<td>
<%= auto.Año_fabricacion %>
</td>
<td>
<%= auto.Rango %>
</td>
<td>
<%= auto.Precio_por_dia %>
</td>
<td>
<%= auto.Año_fabricacion %>
</td>
<td>
<%= image_tag("auto2.jpg", height:50)%>
</td>
<td>
<p> Arrendar <p>
</td>



</div>

