<p style="color: green"><%= notice %></p>

<%= render @autos %>
<br>
<div>
  <%= link_to "Editar", edit_auto_path(@autos) %> |
  <%= link_to "Regresar", autos_path %>

  <%= button_to "Eliminar", @auto, method: :delete %>
  <%== pagy_nav(@pagy) if @pagy.pages > 2 %>
</div>
